
.idea/description.html
.idea/discord.xml
.idea/encodings.xml
.idea/intellij-javadocs-4.0.1.xml
.idea/misc.xml
.idea/modules.xml
.idea/project-template.xml
.idea/vcs.xml
Conquistadores de Catán.iml
out/production/Conquistadores de Catán/Jugador$Type.class
out/production/Conquistadores de Catán/Jugador.class
out/production/Conquistadores de Catán/Main.class
out/production/Conquistadores de Catán/Recurso$Type.class
out/production/Conquistadores de Catán/Recurso.class
